html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-container {
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.btn-style {
  background-color: blueviolet;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: aliceblue;
}
.btn-style:hover {
  background-color: rgb(103, 30, 170);
}
.btn-style:active,
.btn-style:focus {
  background-color: rgb(103, 30, 170);
  outline: none;
}

